/*http://mail.ttfotf.com/font-file/bkcap-regular.font*/
@font-face{
   font-family: "BigKeyCaps";
   src:  local('☺'),
         url("../fonts/BigKeyCaps.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-variant: normal;
}
/*http://www.dafont.com/invaders-from-space.font*/
@font-face{
   font-family: "invader";
   src:  local('☺'),
         url("../fonts/invaders.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-variant: normal;
}
html{
	background: #6BD none repeat scroll top left;
}
header {
	top:50%;
	left:50%;
	width:600px;
	height:50px;
	position:absolute;
	text-align:center;
	/*background-color:black;*/
	margin: -25px 0 0 -300px;
}
header h1 {
	margin-top : 0;
	line-height : 50px;
	letter-spacing: 1px;
	word-spacing: 10px;
	font-family: cursive;
	text-transform: capitalize;
	color : white;
	font-size: 3.5em;
}
span[class^='icon']{
	color: rgba(0, 0, 0, 0.0);
}
span[class^='icon']:after{
	color: #000;
	font-weight: bold;
	font-family: "BigKeyCaps";
	content: attr(title);
}
#instructions{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.commands {
	display: inline-flex;
}

.txt {
	color: hsla(0,0%,0%,0);
	text-shadow: #fff 0 0 5px;
}

.invader {
	font-family: 'invader';
	margin: 0 10px;
	color: hsla(0,0%,0%,0);
	text-shadow: #000 0 0 5px;
}

::selection {
  background: rgba(0, 0, 0, 0.0); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.0); /* Gecko Browsers */
}
.canvasSection{
	margin: 0 auto;
	text-align: center;
	cursor: none;
}
.canvasSection canvas{
	position: relative;
	width: 500px;
	height: 300px;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px #FFF, 0px 0px 20px #FFF, 0px 0px 25px #FFF;
	/*border-radius: 10px/10px;*/
	/*background-color: blue;*/
	z-index: 10;
}